<!-- <h2>Service: </h2>
    <ul>
        {% for point in route.points.all %}
            <li>
                {{ point.location }} - {{ point.line_name }}
            </li>
        {% endfor %}
        {% for service in services %}
            {{ service.name }} <br>
        {% endfor %}
    </ul> -->


    <form method="post">
    {% csrf_token %}
    {% for item in form.items %}
        <div>
            {{ item}}
        </div>
    {% endfor %}
    <button type="submit">Pošalji</button>
</form>

