{% for service in services %}
  <h2>{{ service.name }} ({{ service.location }})</h2>

  {% for route in service.routes.all %}
    {% if forloop.first %}
        <h4>Main</h4>
    {% elif forloop.counter == 2 %}
        <h4>Backup</h4>
    {% else %}
        <h4>Conf</h4>
    {% endif %}      
    {% if route.role != "" %}
      <p>Role: {{route.role}}</p>
    {% endif %}
    <ul>
      {% for point in route.points.all %}
        <li>Location:{{ point.location }} - Line name:{{ point.line_name }} -> {{point.unit}} - {{point.port}} - {{point.chan}}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}